/* @override 
	http://0.0.0.0:3000/stylesheets/classic1.css?1237318460
	http://0.0.0.0:3000/stylesheets/classic1.css?1237470527
	http://0.0.0.0:3000/stylesheets/classic1.css?1237470604
*/

body {
   font-family: Arial, Helvetica, Geneva, sans-serif;
   font-size: small;
   background-color: #fcf3e2;
}

#content table tbody tr td {
	padding: 3px;
}
a:link, a:active, a:visited {
   color: #CD0000;
}
input { 
   margin-bottom: 5px;
}
p { 
   line-height: 150%;
}
div#container {
   width: 760px;
   margin: 0 auto;
}
div#header {
   text-align: center;
   padding-bottom: 15px;
}

td {
	border-left: 1px solid silver;
	width: 20%;
}
div#content {
   padding: 10px;
	background-color: white;
	width: 90%;
	float: left;
}
div#content h3 {
   margin-top: 15px;
}
ul#books {
   list-style-type: none;
}
ul#books li {
   line-height: 140%;
}
div#sidebar {
   width: 200px;
   margin-left: 480px;
}
ul#subjects {
   width: 700px;
   text-align: center;
   padding: 5px;
   background-color: #ececec;
   border: 1px solid #ccc;
   margin-bottom: 20px;
}
ul#subjects li {
   display: inline;
   padding-left: 5px;
}

