<h1>Esqueceu sua senha?</h1>

   
<% form_for :user, :url => {:action => 'forgot_password'} do |form| %>
	<fieldset>
    <p>
    	Preencha o formulário abaixo. Enviaremos um email com um link para
		redefinição de sua senha.
	</p>
     <p>
     	<label for="user_email" >Endereço de e-mail:</label><br/>
        <%= form.text_field :email, :size => 35, :class => 'text' %>
     </p>
     <%= submit_tag 'Enviar' %>
     </fieldset>
<% end %>
