<h1>Esqueceu sua senha?</h1>

   
<% form_for :user, :url => {:action => 'forgot_password'} do |form| %>
	<fieldset>
    <p>
    	Coloque seu e-mail e clique em enviar. Nós enviaremos o link para
		redefinir sua senha para seu e-mail.   
	</p>
     <p>
     	<label for="user_email" >Endereço de e-mail:</label><br/>
        <%= form.text_field :email, :size => 35, :class => 'text' %>
     </p>
     <%= submit_tag 'Enviar' %>
     </fieldset>
<% end %>
