

<table>
  <tr>
    <th>Data</th>
  </tr>
  <% @treinos.each do |treino| %>
    <tr>
      <td><%= treino.date %></td>
      <td><%= link_to "Detalhes", treinador_atleta_treino_path(@atleta.id, treino) %></td>
      <td><%= link_to "Excluir", treinador_atleta_treino_path(@atleta.id, treino), :method => :delete %></td>
    </tr>
   <% end %>
</table>

<%= link_to "Novo treino", new_treinador_atleta_treino_path(@atleta) %>
