<h1>Novo Exercício</h1>

<% semantic_form_for @exercicio, :url => treinador_exercicios_path do |f| %>
	<%= f.error_messages %>
	<% f.inputs do %>
		<%= f.input :exercicio, :label => "Nome: " %>
		<%= f.input :unidade, :as => :select, :collection => ["kg", "m", "unidades"]%>
	<% end %>
	<% f.buttons do %>
		<%= f.commit_button 'Criar' %>
	<% end %>
<% end %>
