<table>
  <tr>
    <th>Nome</th>
    <th>Data</th>
  </tr>
  <% @testes.each do |teste| %>
    <tr>
      <td><%= link_to teste.nome, atleta_teste_path(teste) %></td>
      <td><%= teste.data %></td>
      <td><%= link_to "Inserir resultado", edit_atleta_teste_path(teste) %></td>
    </tr>
  <% end %>
</table>
