
<table>
  <tr>
    <th>Nome</th>
    <th></th>
  </tr>
  <% @atletas.each do |atleta| %>
    <tr>
      <td><%= atleta.user.name %></td>
      <td><%= link_to "Treinos", treinador_atleta_treinos_path(atleta) %></td>
      <td><%= link_to "Testes", treinador_atleta_testes_path(atleta) %></td>
    </tr>
  <% end %>
</table>

