

<p>
	<strong> Distância (m): </strong>
	<%= @resultado["m"] %> 
</p>

<p>
	<strong> Carga (kg): </strong>
	<%= @resultado["kg"] %>
</p>
<p>
	<strong> Unidades (unidades): </strong>
	<%= @resultado["unidades"] %> 
</p>
