<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Untitled Document</title>
		<script type="text/javascript">
			function calculaRitmo() {
				var tempoTesteMinutos = document.calculo_ritmo.tempoTesteMinutos.value;
				var tempoTesteSegundos = document.calculo_ritmo.tempoTesteSegundos.value;
				var distTeste = document.calculo_ritmo.distTeste.value;
				var intensidade = document.calculo_ritmo.intensidade.value;
				if(tempoTesteMinutos != '' && tempoTesteSegundos != '' && distTeste != '' && intensidade != '') {
					var ritmoMinutos = null;
					var ritmoSegundos = null;
					var tempoTeste = tempoTesteMinutos * 60 + parseInt(tempoTesteSegundos);
					var ritmo = (tempoTeste  * 1000 / distTeste) / (intensidade/100);
					document.calculo_ritmo.ritmoMinutos.value =  Math.floor(ritmo /60);
					document.calculo_ritmo.ritmoSegundos.value = ritmo  % 60;
				}
				
			}
		</script>
	</head>
	<body>
		<form name="calculo_ritmo" action="#"> 
			
		</form>
	</body>
</html>
